@import '../css/color.scss';

.case {
  background-color: $color_fff;
  .case-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 85px 0 70px 0;
    .case-item{
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding:0 15px 73px 15px;
      .icon-case1{
        font-size: 50px;
      }
      .case-title{
        font-size: 16px;
        color: $color_666666;
        padding-bottom: 12px;
      }
      .case-subtitle{
        font-size: 14px;
        color: $color_999999;
        font-weight: 100;
      }
    }
  }
  .triangle {
    height: 300px;
    transform: matrix(1, -0.06, 0, 1, 0, -200);
    background-color: $color_222A3D;
  }
}