$color_fff: #fff;
$color_222A3D: #222A3D;
$color_9da5bd: #9da5bd;
$color_dbdbdb: #dbdbdb;
$color_E4E4E4: #E4E4E4;
$color_ECECEC: #ECECEC;
$color_334269: #334269;
$color_999999: #999999;
$color_666666: #666666;
$color_F9F9F9: #F9F9F9;
$color_B7B7B7: #B7B7B7;
$color_F6FAFA: #F6FAFA;
$color_4DB59D: #4DB59D;
$color_33405F: #33405F;
$color_8B909B: #8B909B;
$color_747F97: #747F97;
$color_818A9E: #818A9E;
$color_53607E: #53607E;
$color_353A53: #353A53;
$color_C2C2C2: #C2C2C2;





