
@import '../css/color.scss';

.fixed-header{
  border-bottom: 1px solid rgba(109, 119, 143, 41);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 4;
  &.active{
    background: $color_222A3D;
  }
  .wrap-fixed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 67px;
    .header-left{
      display: flex;
      .logo{
        margin-right: 135px;
      }
      .menu{
        font-size: 18px;
        display: flex;
        li { 
          padding-right: 80px;
          display: flex;
          align-items: center;
          a{
            color: $color_fff;
            font-weight: 100;
            text-decoration: none;
            &:hover{
              color: $color_9da5bd;
            }
          }
        }
      }
    }
    .search-wrap{
      width: 260px;
      height: 36px;
      background: rgba(128,138,162, 0.29);
      border-radius: 18px;
      display: flex;
      align-items: center;
      padding-left: 14px;
      .search-input{
        background: transparent;
        border: none;
        outline: none;
        color: $color_fff;
        font-size: 16px;
        margin-left: 10px;
      }
      .search-icon{
        color: $color_fff;
        font-size: 18px;
      }
    } 
  }
}